@layer base {
  .heading--h1 {
    @apply text-4xl md:text-5xl lg:text-7xl font-bold;
  }

  .heading--h2 {
    @apply text-2xl md:text-4xl lg:text-5xl font-bold;
  }

  .heading--h3 {
    @apply text-2xl md:text-2.5xl font-bold;
  }

  .heading--h4 {}

  .heading--h5 {
    @apply text-lg md:text-xl font-bold;
  }

  .text--xl {
    @apply md:text-xl font-normal;
  }

  .text--lg {
    @apply text-lg font-normal;
  }

  .text--base {
    @apply text-base font-normal;
  }

  .text--sm {
    @apply text-sm font-normal;
  }
}

.prose--mdx {
  @apply prose prose-invert;

  --tw-prose-pre-bg: #22242b;

  h2 {
    @apply text-base font-semibold first-of-type:mt-0;
  }

  .button--primary {
    @apply text-brand-neutral-900 no-underline hover:scale-105;
  }
}


.prose :where(code):not(:where(pre code, [class~="not-prose"], [class~="not-prose"] *)) {
  @apply px-2 py-1 rounded-md bg-brand-neutral-300 text-brand-neutral-900;
}


.prose--mdx :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
  content: none;
}

.prose--mdx :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
  content: none;
}
